<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern> <!-- [%thread] -->
        </encoder>
    </appender>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.aop" level="WARN"/>
    <logger name="org.springframework.beans" level="WARN"/>
    <logger name="org.springframework.boot" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure" level="WARN"/>
    <logger name="org.springframework.boot.diagnostics" level="WARN"/>
    <logger name="org.springframework.boot.actuate" level="WARN"/>
    <logger name="org.springframework.boot.devtools" level="WARN"/>
    <logger name="org.springframework.boot.web" level="WARN"/>
    <logger name="org.springframework.core" level="WARN"/>
    <logger name="org.springframework.core.env" level="WARN"/>
    <logger name="org.springframework.context" level="WARN"/>
    <logger name="org.springframework.cloud" level="WARN"/>
    <logger name="org.springframework.data" level="WARN"/>
    <logger name="org.springframework.jdbc" level="WARN"/>
    <logger name="org.springframework.jmx" level="WARN"/>
    <logger name="org.springframework.orm" level="WARN"/>
    <logger name="org.springframework.transaction" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.security.web.access" level="DEBUG"/>
    <logger name="org.springframework.ui" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>

    <logger name="valid.oauth2.server" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
